/* get import url from google fonts after selecting desired fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* refers to every element in the webpage */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    
    /* remove the bullet point for every list item */
    list-style: none;
    
    /* remove the underline for every link */
    text-decoration: none; 
}

/* use css variables to reduce code repetition and enable easy customisation (OOP)*/
/* root variables can be used anywhere in the project */
:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    /* depending on screen size (large, medium, small) - use media queries*/
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%   
}

html {
    /* to scroll smoothly between each section */
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    /* remove scroll bar */
    display:none;
}

body {
    font-family: 'Poppins', sans-serif;
    /* use of ccs variables [var()] */
    background: var(--color-bg);
    color: var(--color-white);
    line-height:1.7;
    background-image: url(../src/assets/bg-texture.png)
}

/* === GENERAL STYLES === */
.container {
    width:var(--container-width-lg);
    
    /* to position it in the middle */
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

/* every section component will be wrapped around 'section'*/
section {
    /* leave whitespace between each section */
    margin-top: 8rem;
    height: 100vh;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-light);
}


section > h2 {
    color:var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light)
}

/* every anchor tag */
a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color:var(--color-white);
}

/* button */
.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-primary);

    /* padding is 0.75 top and bottom, 1.2 left and right */
    padding: 0.75rem 1.2rem;
    
    /* choose curvature of corners of border */
    border-radius: 0.4rem;

    border: 1px solid var(--color-primary);
    cursor: pointer;

    /* transition affects the hover */
    transition: var(--transition);

}


.btn.hover {
    background:var(--color-white);
    color:var(--color-bg);
    border-color: transparent;
}


.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display:block;
    width: 100%;
    object-fit: cover;
}

/* ===== MEDIA QUERIES (MEDIUM DEVICES e.g. tablets) ==== */

@media screen and (max-width: 1024px) {
    .container {
        width:var(--container-width-md);
    }

    section {
        margin-top:6rem;
    }
}



/* ===== MEDIA QUERIES (SMALL DEVICES e.g. phones) ==== */

@media screen and (max-width: 600px) {
    .container {
        width:var(--container-width-sm);
    }

    section {
        margin-top:2rem;
    }
}